In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
pd.options.display.float_format = '{:.1f}'.format 
# 숫자가 길어서 짤림

data = pd.read_csv("data_in_sample.csv", index_col=False)
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>txID</th>
      <th>blockID</th>
      <th>n_inputs</th>
      <th>n_outputs</th>
      <th>block_timestamp</th>
      <th>n_txs</th>
      <th>seq</th>
      <th>addrID</th>
      <th>sum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>286344040</td>
      <td>501230</td>
      <td>3</td>
      <td>2</td>
      <td>1514360777</td>
      <td>2179</td>
      <td>1</td>
      <td>283256461</td>
      <td>244993</td>
    </tr>
    <tr>
      <th>1</th>
      <td>285318410</td>
      <td>500679</td>
      <td>1</td>
      <td>3</td>
      <td>1514028711</td>
      <td>2235</td>
      <td>0</td>
      <td>39848381</td>
      <td>202730</td>
    </tr>
    <tr>
      <th>2</th>
      <td>276973005</td>
      <td>497076</td>
      <td>1</td>
      <td>2</td>
      <td>1512155343</td>
      <td>2591</td>
      <td>0</td>
      <td>336365330</td>
      <td>1700642</td>
    </tr>
    <tr>
      <th>3</th>
      <td>281915313</td>
      <td>499253</td>
      <td>2</td>
      <td>2</td>
      <td>1513257671</td>
      <td>2600</td>
      <td>1</td>
      <td>65995940</td>
      <td>99962500</td>
    </tr>
    <tr>
      <th>4</th>
      <td>285126052</td>
      <td>500594</td>
      <td>1</td>
      <td>2</td>
      <td>1513977525</td>
      <td>3065</td>
      <td>0</td>
      <td>349427300</td>
      <td>78098672</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
print(data.shape)

(100000, 9)

In [3]:
from sklearn.preprocessing import MinMaxScaler

scaled_data = MinMaxScaler().fit_transform(data.values.astype(float))
scaled_data = pd.DataFrame(scaled_data, columns=data.columns)
scaled_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>txID</th>
      <th>blockID</th>
      <th>n_inputs</th>
      <th>n_outputs</th>
      <th>block_timestamp</th>
      <th>n_txs</th>
      <th>seq</th>
      <th>addrID</th>
      <th>sum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.9</td>
      <td>0.9</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.8</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.8</td>
      <td>0.7</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.7</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.1</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.4</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>0.2</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.8</td>
      <td>0.7</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.7</td>
      <td>0.7</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
scaled_data.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>txID</th>
      <th>blockID</th>
      <th>n_inputs</th>
      <th>n_outputs</th>
      <th>block_timestamp</th>
      <th>n_txs</th>
      <th>seq</th>
      <th>addrID</th>
      <th>sum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.1</td>
      <td>0.0</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.9</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.3</td>
      <td>0.3</td>
      <td>0.2</td>
      <td>0.0</td>
      <td>0.3</td>
      <td>0.2</td>
      <td>0.1</td>
      <td>0.2</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.3</td>
      <td>0.3</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.2</td>
      <td>0.4</td>
      <td>0.0</td>
      <td>0.9</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.5</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.8</td>
      <td>0.8</td>
      <td>0.1</td>
      <td>0.0</td>
      <td>0.7</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
from sklearn.cluster import KMeans

model = KMeans(n_clusters=3, algorithm='auto')
model.fit(scaled_data)
predict = pd.DataFrame(model.predict(scaled_data))
predict.columns = ['predict']

result = pd.DataFrame(pd.concat([scaled_data, predict], axis=1)) 

result.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>txID</th>
      <th>blockID</th>
      <th>n_inputs</th>
      <th>n_outputs</th>
      <th>block_timestamp</th>
      <th>n_txs</th>
      <th>seq</th>
      <th>addrID</th>
      <th>sum</th>
      <th>predict</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.9</td>
      <td>0.9</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.8</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.8</td>
      <td>0.7</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.7</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.1</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.4</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>0.2</td>
      <td>0.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.8</td>
      <td>0.7</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.7</td>
      <td>0.7</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
print(result.groupby("predict").size())

predict
0    33962
1    35022
2    31016
dtype: int64

In [7]:
print(result.describe())

          txID  blockID  n_inputs  n_outputs  block_timestamp    n_txs  \
count 100000.0 100000.0  100000.0   100000.0         100000.0 100000.0
mean       0.5      0.5       0.1        0.0              0.5      0.5
std        0.3      0.3       0.2        0.0              0.3      0.2
min        0.0      0.0       0.0        0.0              0.0      0.0
25%        0.3      0.3       0.0        0.0              0.2      0.4
50%        0.5      0.5       0.0        0.0              0.5      0.6
75%        0.8      0.8       0.1        0.0              0.7      0.6
max        1.0      1.0       1.0        1.0              1.0      1.0

           seq   addrID      sum  predict
count 100000.0 100000.0 100000.0 100000.0
mean       0.0      0.9      0.0      1.0
std        0.1      0.2      0.0      0.8
min        0.0      0.0      0.0      0.0
25%        0.0      0.9      0.0      0.0
50%        0.0      1.0      0.0      1.0
75%        0.0      1.0      0.0      2.0
max        1.0      1.0      1.0      2.0

In [8]:
features = list(result.columns)

print(features)

['txID', 'blockID', 'n_inputs', 'n_outputs', 'block_timestamp', 'n_txs', 'seq', 'addrID', 'sum', 'predict']

In [9]:
features.remove("predict")

print(features)

['txID', 'blockID', 'n_inputs', 'n_outputs', 'block_timestamp', 'n_txs', 'seq', 'addrID', 'sum']

In [10]:
x = result[features]
y = result["predict"]

x.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>txID</th>
      <th>blockID</th>
      <th>n_inputs</th>
      <th>n_outputs</th>
      <th>block_timestamp</th>
      <th>n_txs</th>
      <th>seq</th>
      <th>addrID</th>
      <th>sum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
      <td>100000.0</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.1</td>
      <td>0.0</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.9</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.3</td>
      <td>0.3</td>
      <td>0.2</td>
      <td>0.0</td>
      <td>0.3</td>
      <td>0.2</td>
      <td>0.1</td>
      <td>0.2</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.3</td>
      <td>0.3</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.2</td>
      <td>0.4</td>
      <td>0.0</td>
      <td>0.9</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.5</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.8</td>
      <td>0.8</td>
      <td>0.1</td>
      <td>0.0</td>
      <td>0.7</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
y.describe()

count   100000.0
mean         1.0
std          0.8
min          0.0
25%          0.0
50%          1.0
75%          2.0
max          2.0
Name: predict, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=0,
                                                    test_size=0.2)

X_train.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>txID</th>
      <th>blockID</th>
      <th>n_inputs</th>
      <th>n_outputs</th>
      <th>block_timestamp</th>
      <th>n_txs</th>
      <th>seq</th>
      <th>addrID</th>
      <th>sum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>80000.0</td>
      <td>80000.0</td>
      <td>80000.0</td>
      <td>80000.0</td>
      <td>80000.0</td>
      <td>80000.0</td>
      <td>80000.0</td>
      <td>80000.0</td>
      <td>80000.0</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.1</td>
      <td>0.0</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.9</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.3</td>
      <td>0.3</td>
      <td>0.2</td>
      <td>0.0</td>
      <td>0.3</td>
      <td>0.2</td>
      <td>0.1</td>
      <td>0.2</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.3</td>
      <td>0.3</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.2</td>
      <td>0.4</td>
      <td>0.0</td>
      <td>0.9</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.5</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.8</td>
      <td>0.8</td>
      <td>0.1</td>
      <td>0.0</td>
      <td>0.7</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.6</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
print('Accuracy of K-NN classifier on training set: {:.2f}'.format(
    knn.score(X_train, y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}'.format(
    knn.score(X_test, y_test)))

Accuracy of K-NN classifier on training set: 1.00

Accuracy of K-NN classifier on test set: 1.00

In [14]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X_train, y_train)
print('Accuracy of GNB classifier on training set: {:.2f}'
      .format(gnb.score(X_train, y_train)))
print('Accuracy of GNB classifier on test set: {:.2f}'
      .format(gnb.score(X_test, y_test)))

Accuracy of GNB classifier on training set: 0.98
Accuracy of GNB classifier on test set: 0.98

In [16]:
from sklearn.svm import SVC

svm = SVC()
svm.fit(X_train, y_train)
print('Accuracy of SVM classifier on training set: {:.2f}'
      .format(svm.score(X_train, y_train)))
print('Accuracy of SVM classifier on test set: {:.2f}'
      .format(svm.score(X_test, y_test)))

Accuracy of SVM classifier on training set: 0.99

Accuracy of SVM classifier on test set: 0.99